#imageCompany{
    width: 75%;
    height: 350px;
    display: block;
    margin: auto;
    border-radius: var(--radius-grand);
    /*background: center / cover no-repeat url("https://media.istockphoto.com/photos/apple-park-picture-id1165785407?k=20&m=1165785407&s=612x612&w=0&h=2I8kkWQIW-6TppXO7Ol6jBYY3-8sibfgrVEZmltsE2M=");*/
}

#logo{
    width: 70px;
    height: 70px;
    position: absolute;
    right: 17%;
    top: 310px;
}

#companyName{
    text-align: center;
    margin: var(--espace-grand) 0 0;
}

.textCreation{
    text-align: center;
    margin-top: var(--espace-petit);
    color: var(--text-secondaire);
}

.subTitle{
    margin-top: var(--espace-max);
}

#mapHeadQuarters{
    margin: var(--espace-grand) auto;
    border-radius: var(--font-important);
    display: block;
}

.textHeadquarters{
    text-align: center;
    font-size: 20px;
    margin: var(--espace-moyen) auto;
}

.listFounders, .listProducts{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--espace-grand);
}

.founder, .product{
    width: 600px;
    display: flex;
    align-items: center;
    margin-top: var(--espace-petit);
    border-radius: var(--radius-moyen);
    position: relative;
}

.founder::after, .product::after{
    content: " ";
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius-moyen);
}

.founder:hover::after, .product:hover::after{
    cursor: pointer;
    background: var(--bg-cta-hover);
}

.imgFounder{
    height: 90px;
    width: 70px;
    border-radius: var(--radius-petit);
}

.imgProduct{
    border-radius: var(--radius-petit);
}

.nameFounder, .nameProduct{
    font-size: var(--font-important);
    margin-left: var(--espace-moyen);
}