.titrePrincipal{
    margin: 0 0 0 var(--espace-moyen);
}

.results{
    margin-top: var(--espace-grand);
}

.result{
    padding: var(--espace-moyen);
    border-radius: var(--radius-grand);
    margin: var(--espace-moyen) 0;
    position: relative;
}

.result:hover{
    background: var(--bg-cta-hover);
    cursor: pointer;
}

.result h2{
    margin: 0;
    position: relative;
    top: -5px;
    left: 10px;
    display: inline-block;
}

#logo{
    width: 40px;
    height: 40px;
    display: inline-block;
}

.result > h2{
    margin-top: 0;
}

.result #description{
    line-height: var(--line_height);
    height: calc(2*var(--line_height));  
    overflow: hidden;
    margin: var(--espace-petit) 0;
    text-indent: 0;
}

.result .divIncome, .result .divIndustry, .result .divProducts{
    line-height: var(--line_height);
    height: var(--line_height);  
    overflow: hidden;
}

.result .property {
    font-weight: bold;
    width: 140px;
    display: inline-block;
}