.content{
    
}

.browserName{
    font-size: 22px;
}

.search{
    font-size: 18px;
    width: 500px;
    border-radius: 50px;
    display: block;
    padding: 7px 15px;
}

.results{
    margin-top: 50px;
    display: flex;
}

#listResults{
    flex: 1;
    padding-right: 20px;
}

.summaryResults{
    border: solid 1px;
    padding: 20px;
    border-radius: 10px;
}

.summaryResults h2, .summaryResults p{
    margin: 0;
}

#nbResults{
    margin-bottom: 10px;
}

.result > h2{
    margin-top: 0;
}