#productImage{
    width: 500px;
    display: block;
    margin: auto;
    border-radius: var(--radius-grand);
}

#productName{
    text-align: center;
    margin: var(--espace-petit) 0 0;
}

#releaseDate{
    text-align: center;
    margin-top: var(--espace-petit);
    color: var(--text-secondaire);
}

#description{
    line-height: var(--line_height);
    height: calc(7 * var(--line_height));
    text-align: justify;
    overflow: hidden;
    text-indent: var(--espace-moyen);
    margin-top: var(--espace-grand);
}

.titleCharacteristics{
    margin-top: var(--espace-grand);
}

.listAttributs{
    display: flex;
    flex-wrap: wrap;
}

.attribut{
    flex-basis: 45%;
    margin: var(--espace-min) 5% var(--espace-min) 0;
}

.attributName{
    font-weight: bold;
    width: 120px;
    display: inline-block;
}