#productImage{
    max-width: 600px;
    max-height: 300px;
    display: block;
    margin: auto;
}

#productName{
    text-align: center;
    margin: var(--espace-grand) 0 0;
}

#releaseDate{
    text-align: center;
    margin-top: var(--espace-petit);
    color: var(--text-secondaire);
}

.titleCharacteristics{
    margin-top: var(--espace-grand);
}

.listAttributs{
    display: flex;
}

#listAttributsColonne1, #listAttributsColonne2{
    flex: 1;
    padding-right: var(--espace-moyen);
    height: auto;
}

.attributName{
    font-weight: bold;
    /*width: 120px;*/
    display: block;
}