@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --espace-max: 100px;
    --espace-grand: 50px;
    --espace-moyen: 25px;
    --espace-petit: 15px;
    --espace-min: 10px;

    --radius-grand: 25px;
    --radius-moyen: 15px;
    --radius-petit: 10px;
    --radius-min: 5px;

    --line_height: 1.5em;
    --font-important: 20px;

    --text-secondaire: rgb(102, 102, 102);
    --text-secondaire-size: 16px;
    --cta: rgba(54, 13, 204, 0.6);
    --cta-hover: rgba(54, 13, 204, 0.65);

    --bg-grey: #f3f3f3;
    --bg-cta-hover: rgba(54, 13, 204, 0.03);
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 20px;
    overflow-x: hidden;
}

.content{
    width: 1200px;
    margin: var(--espace-grand) auto;
    min-height: calc(75vh - var(--espace-grand));
}

.cardContent{
    width: 1100px;
    margin: var(--espace-moyen) auto;
    position: relative;
    padding: var(--espace-grand);
    background: #f7f6f9a0;
    border-radius: var(--radius-grand);
    box-shadow: 0 0 15px #a195cd40;
}

.navigation{
    width: 1200px;
    margin: auto;
    position: relative;
}

.newSearch{
    background-color: var(--cta);
    padding: var(--espace-min) var(--espace-grand);
    border-radius: var(--radius-min);
    border: none;
    color: white;
    font-size: var(--font-important);
    margin-top: var(--espace-moyen);
    margin-left: auto;
    display: block;
    cursor: pointer;
}

.newSearch:hover{
    background-color: var(--cta-hover);
}

#description{
    line-height: var(--line_height);
    height: calc(7 * var(--line_height));
    text-align: justify;
    overflow: hidden;
    text-indent: var(--espace-moyen);
    margin-top: var(--espace-grand);
}

#seeMore{
    color: var(--cta);
    display: inline-block;
    margin-top: var(--espace-min);
}

#seeMore:hover{
    cursor: pointer;
    text-decoration: underline;
}

footer{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    position: relative;
    background: transparent;
    margin: calc(2*var(--espace-grand)) 0 var(--espace-petit);
}

footer p{
    margin: calc(var(--espace-min)/2);
    color: var(--text-secondaire);
    font-weight: 300;
    font-size: var(--text-secondaire-size);
}